[MASTER]
ignore=venv,.venv,docs/_build,docs,tests
extension-pkg-whitelist=
load-plugins=

[MESSAGES CONTROL]
enable=R0901,R0902,R0903,R0904,R0911,R0912,R0913,R0914,R0915
disable=C0114,C0115,C0116

[REPORTS]
score=no

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,db

[DESIGN]
max-args=8
max-attributes=10
max-bool-expr=5
max-branches=12
max-locals=20
max-parents=7
max-public-methods=20
min-public-methods=0
max-statements=50
max-returns=6
max-nested-blocks=4

[IMPORTS]
